@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --soft_red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark_brown: hsl(25, 47%, 15%);
  --medium_brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --pale_orange: hsl(33, 100%, 98%);
  --white: hsl(30, 100%, 98%);

  /* Hover colors */
  --soft_red-hover: hsla(10, 100%, 76%, 1);
  --cyan-hover: hsla(186, 49%, 80%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--cream);
  border-radius: 1px;
  margin: 3.2rem 0;
}

.container {
  width: 54rem;
  display: grid;
  gap: 2.4rem;
}

/* BALANCE SECTION */
.balance__container {
  background-color: var(--soft_red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 2.8rem 3.2rem;
  border-radius: 20px;
}

.balance__wrapper {
  display: grid;
  align-content: center;

  gap: 0.8rem;
}

.balance__title {
  font-size: 1.8rem;
  color: var(--white);
  font-weight: 400;
}

.total__balance {
  font-size: 3.2rem;
  color: var(--white);
  font-weight: 700;
}

/* CHART SECTION */
.chart__container {
  background-color: var(--white);
  padding: 3.2rem 3.2rem 4rem;
  border-radius: 20px;
}

.chart__header {
  font-size: 3.2rem;
  color: var(--dark_brown);
  margin-bottom: 6.6rem;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.chart__bar {
  display: grid;
  justify-items: center;
  position: relative;
  cursor: pointer;
}

.daily__total {
  width: 7.5rem;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  background-color: var(--dark_brown);

  position: absolute;
  top: -4.8rem;
  opacity: 0;
  transition: all 0.3s linear;
}

.bar {
  width: 5.3rem;
  background-color: var(--soft_red);
  border-radius: 5px;
  transition: all 0.3s linear;
}

.bar__max {
  width: 5.3rem;
  background-color: var(--cyan);
  border-radius: 5px;
  transition: all 0.3s linear;
}

.week__day {
  font-size: 1.5rem;
  color: var(--medium_brown);
}

/* ACTIVE STATES */
.chart__bar-hover .bar {
  background-color: var(--soft_red-hover);
}

.chart__bar-hover .bar__max {
  background-color: var(--cyan-hover);
}

.chart__bar-hover .daily__total {
  opacity: 1;
}

/* TOTALS SECTION */
.totals__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month__total {
  display: block;
}

.month__total__text,
.last__month__text {
  font-size: 1.8rem;
  color: var(--medium_brown);
}

.month__total__amount {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--dark_brown);
}

.percentage {
  font-size: 1.8rem;
  color: var(--dark_brown);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
